.pokemon{
    display: flex;
}

.pokemon__img{
    width: 170px;
    height: auto;
}

.pokemon__info{
    font-size: 1.2rem;
    padding-right: 1rem;
}

@media(max-width:481px){
    .pokemon{
        flex-direction: column;
    }

    .pokemon__img{
        order: 0;
        display: block;
        margin:auto;
    }

    .pokemon__info{
        order: 1;
    }
}