.listName{
    margin-left: 1.5rem;
}

.listName__item{
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

.listName__item:hover{
    text-decoration: underline;
}

@media(max-width:445px){
    .listName{
        margin-left: 0;
    }
}
